@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

.divLeft {
    width: 49.5%;
    height: 749px;
    float: left;
    position: relative;
}

#spaceText {
    padding-right: 20px;
}

.textDiv{
   position: absolute;
   align-items: center
   
}
